@media (max-width:1003px) {
    body{
        padding: 0;
        margin: 0;
    }
    .right{
        padding: 0;
        margin: 0;
    }
.right h4{
        font-size: 8px
    }
    .left{
        margin-left: 15px;
        padding: 0.5%;
        box-sizing: border-box; 
    }
    .right h4{
        font-size: 14px;
    }
    .btn {
        padding-left: 10%;
        box-sizing: border-box;
    }
    footer hr{
        width: 100%;
        margin-left: -5px;
        
    }
    
    form{
        background: #fff;
        width: 300px;
        margin-top: 10px;
        
        box-sizing: border-box;
    }
    .paragraph{
        width: 300px;
        font-size: 12px;
    
      
    }
   
}
