*{
    padding: 0;
    margin: 0;
}
html{
    padding: 0;
    margin: 0;
}
body{
    font-family: Verdana, "Geneva", Tahoma, sans-serif;
    background: rgb(226, 221, 221);
}
.right{
    padding: 15%;
    box-sizing: border-box;
}
.right .titre{
    color: #00F;
}
.left{
    margin-left: -200px;
    padding: 3%;
    box-sizing: border-box; 
}
form{
    background: #fff;
    width: 400px;
    height: 400px;
    padding: 10px;
    margin-top: 70px;
    border-radius: 8px;
    box-sizing: border-box;
}
form input{
    height:13%;
}
 form .button{
    width: 100%;
    border-radius: 6px;
    color:#fff;
    font-size: 25px;
}
form .para{
    color: #00F;
    padding: 15px;
    text-align: center;
}
.btn {
    padding-left: 20%;
    box-sizing: border-box;
}
form .button-1{
    border-radius: 10px;
    height: 50px;
    padding: 8px 8px;
    color: #fff;
    font-size: 18px;
}
.paragraph{
    width: 400px;
    font-size: 12px;
    padding-top: 10px
}
footer{
    background: #fff;
 
}
.pied{
    font-size: 12px
}
.pied button{
    padding: 1px;
     width: 40px;
     box-sizing: border-box;   
}
footer hr{
    width: 70%;
    margin-left: 185px;
    box-sizing: border-box;
}